<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body { margin: 0; text-align: center; background-color: #fff; }
        img { width: 100%; max-width: 393px; }
        button {
            font-size: 20px; margin-top: 20px; padding: 10px 20px;
            background-color: red; color: white; border: none; cursor: pointer;
        }
        a{text-decoration: none; color: inherit;}
    </style>
</head>
<body>
    
    <a href="/screen12"><img src="{{ url_for('static', filename='KFC-11.png') }}" alt="KFC Step 11"></a>
</body>
</html>

